<header id="header" class="container">


	<div class="navbar">
		<div class="navbar-inner">
			<div class="container">
				<a href="/" title="Go back home" id="identity" class="brand">BookRepository</a>
				<nav>
					<ul id="primary-nav" class="nav">
						<li><%= link_to "Home", '/'  %></li>
						<li><%= link_to "New book", '/books/new/'  %></li>
					</ul><!-- / -->
				</nav>
			</div>
		</div>
	</div>


</header><!-- /header -->